/* You can add global styles to this file, and also import other style files */
.btn{
  margin: 10px;
  background-color: lawngreen;
  color: black;
  border-radius: 5px;
}

.forgot-password{
  color: red;
  text-decoration: underline;
}
